#about {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray-section-bg-color);
}

#about div.section-content {
  margin-bottom: 125px;
  min-height: calc(100vh - 300px);
}

#about div.content-left, #about div.content-right {
  display: flex;
  align-items: center;
}

#about div.content-left {
  justify-content: flex-end;
}

#about div.content-right {
  justify-content: flex-start;
}

#profdesc>p, #profdesc>h2 {
  text-align: center;
}

#profpic {
  display: flex;
  justify-content: center;
  height: 275px;
  width: 275px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
}

#profpic>img {
  height: 100%;
}

#profdesc {
  max-width: 400px;
  margin-left: 50px;
}
