#contact {
  min-height: calc(100vh - 125px);
  height: 100%;
  width: 100%;
  background-color: var(--light-gray-section-bg-color);
}

#contact div.section-content {
  margin-bottom: 0;
  min-height: calc(100vh - 300px);
  text-align: center;
}

#contact div.section-content>ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

#contact div.section-content>ul>li {
  display: inline-block;
  margin: 20px;
}

#contact div.section-content>ul>li>div {
  background-color: var(--light-color);
  border-radius: 10%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#contact div.section-content>ul>li>div:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#contact div.section-content>ul>li>div>a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#contact div.section-content>ul>li>div>a>img {
  height: 50%;
}

#contact div.section-content>ul>li>p {
  color: var(--deeper-dark-color);
  text-align: center;
  text-transform: uppercase;
}
