#cover {
  font-family: "Roboto Slab", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

#cover>div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cover h1 {
  font-size: 1.7em;
}

#cover h2 {
  font-size: 1.3em;
}

#cover h1, #cover h2 {
  color: var(--primary-color-text);
  text-align: center;
}

#cover h1>span {
  color: var(--deeper-dark-color);
}
