#personal-data {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--white-section-bg-color);
}

#personal-data div.section-content {
  overflow: hidden;
}

#personal-data div.content-left>div, #personal-data div.content-right>div {
  display: flex;
  flex-direction: column;
  -webkit-transition: -webkit-transform 750ms ease-in-out, opacity 1000ms ease-in-out;
  transition: transform 750ms ease-in-out, opacity 1000ms ease-in-out;
}

#personal-data div.content-left {
  border-right: 1.5px solid var(--primary-color);
}

#personal-data div.content-right {
  border-left: 1.5px solid var(--primary-color);
}

#personal-data div.content-left>div {
  align-items: flex-end;
}

#personal-data div.content-left>div.hidden {
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#personal-data div.content-right>div {
  align-items: flex-start;
}

#personal-data div.content-right>div.hidden {
  opacity: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

#personal-data div.content-left>div>ul, #personal-data div.content-right>div>ul {
  list-style-type: none;
  padding: 0;
}

#personal-data div.content-left>div>ul>li, #personal-data div.content-right>div>ul>li {
  color: var(--deeper-dark-color);
  line-height: 1.8em;
}

#personal-data div.content-left>div>ul>li {
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
}

#personal-data div.content-right>div>ul>li>a {
  color: var(--dark-color);
  text-decoration: none;
}
