#project {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray-section-bg-color);
}

#project h4, #project p {
  margin: 0;
}

#project-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

#project-container.hidden {
  opacity: 0;
  transform: translateY(25%);
}

#project-container>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#project-container>ul a {
  color: var(--dark-color);
  text-decoration: none;
}
